# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.*

# Virtual environment
venv/
env/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large data
data/embeddings.npy
data/gis_clean.csv

# Logs
*.log
